details.description::before {
  content: "\a";
  white-space: pre;
}

details.description::after {
  content: "\a\a";
  white-space: pre;
}

details.description summary::-webkit-details-marker {
  display: none;
}

details.description summary {
  font-weight: bolder;
  display: block;
  background: aquamarine;
  color: black;
  border: 1px solid black;
  border-radius: 8px;
  padding: 2px;
  padding-left: 0.3em;
  padding-right: 1em;
  text-align: center;
  display: inline-flex;
  margin: 8px;
}

details.description summary::before {
  content: "";
  margin: auto;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  border: 2px solid black;
  background-color: white;
  transition: .1s;
}

details[open].description summary::before {
  border: 2px solid white;
  background-color: black;
}

details.description summary::after {
  font-size: 16px;
  padding: 0.1ex;
  padding-left: 0.2em;
  content: attr(data-text);
}

details.description summary:hover {
  cursor: pointer;
  background-color: aqua;
}

details[open].description summary {
  color: darkblue;
}

details[open].description summary+div {
  animation: fadeIn 0.5s ease;
  border: 1px solid black;
  margin: 4px;
  margin-right: 0;
  padding: 0.2em;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}